<ul class="nav bg-dark p-3">
  <li class="nav-item">
    <a class="nav-link active text-white" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-white" href="#">Link</a>
</ul>